aiosignal==1.2.0
alembic==1.4.1
amqp==5.1.0
astroid==2.11.2
async-timeout==4.0.2
attrs==21.4.0
bayesian-optimization==1.2.0
billiard==3.6.4.0
catboost==1.0.3
celery==5.2.6
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cloudpickle==2.0.0
cycler==0.11.0
databricks-cli==0.16.6
Deprecated==1.2.13
dill==0.3.4
distlib==0.3.4
docker==5.0.3
entrypoints==0.4
filelock==3.6.0
Flask==2.1.1
fonttools==4.32.0
frozenlist==1.3.0
gitdb==4.0.9
GitPython==3.1.27
graphviz==0.19.2
greenlet==1.1.2
grpcio==1.43.0
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.11.3
importlib-resources==5.6.0
iniconfig==1.1.1
isort==5.10.1
itsdangerous==2.1.2
Jinja2==3.1.1
joblib==1.1.0
jsonschema==4.4.0
kiwisolver==1.4.2
kombu==5.2.4
lazy-object-proxy==1.7.1
lightgbm==3.3.1
lxml==4.8.0
Mako==1.2.0
MarkupSafe==2.1.1
matplotlib==3.5.1
mccabe==0.7.0
mlflow==1.21.0
msgpack==1.0.3
numpy==1.22.3
oauthlib==3.2.0
packaging==21.3
pandas==1.4.2
Pillow==9.1.0
platformdirs==2.5.2
plotly==5.7.0
pluggy==1.0.0
prometheus-client==0.14.1
prometheus-flask-exporter==0.20.1
prompt-toolkit==3.0.29
protobuf==3.20.0
psutil==5.4.7
py==1.11.0
pyaml==21.10.1
PyJWT==2.3.0
pylint==2.13.5
pymongo==3.11.3
pyparsing==3.0.8
pyrsistent==0.18.1
pytest==7.1.1
python-dateutil==2.8.2
python-editor==1.0.4
python-magic==0.4.25
pytz==2022.1
PyYAML==6.0
querystring-parser==1.2.4
ray==1.12.0
redis==4.2.2
requests==2.27.1
scikit-learn==1.0.2
scikit-optimize==0.9.0
scipy==1.8.0
seaborn==0.11.2
six==1.16.0
smmap==5.0.0
SQLAlchemy==1.4.35
sqlparse==0.4.2
tabulate==0.8.9
tenacity==8.0.1
tensorboardX==2.5
threadpoolctl==3.1.0
tomli==2.0.1
tune-sklearn==0.4.2
typing_extensions==4.2.0
urllib3==1.26.9
vine==5.0.0
virtualenv==20.14.1
wcwidth==0.2.5
websocket-client==1.3.2
Werkzeug==2.1.1
wrapt==1.14.0
xgboost==1.6.0
zipp==3.8.0
